@media (max-width : 768px){

	.mid{
		width: 90%;
    }
    /*..........header*/
    .phone span {
        display: none;
    } 
    .menu img{
        width: 120%;
    }
    .logo img{
        width: 120%;
    }
    .header-middle{
        flex-direction: column;
    }
    .link-phone{ 
        margin: -.62rem 0rem 0rem 1.7rem;
    }
     /*..........header*/

     /*..........service*/
    .service-top{
        flex-direction: column;
    }
    .service-top-left{
        margin-bottom: 50px;
    }
    .service-top-right img{
        margin-top: 0px;
    }
    .service-bottom {
        display: flex;
        flex-direction: column;
    }
    .service-bottom-right p{
        padding-bottom: 40px;
    }
    /*..........service*/

    /*..........product*/
    .products h1{
        margin: 25px 0px;
    }
    /*..........product*/

    /*..........profile*/
    .profile {
        padding: 10px;
    }
    .profile-left h2{
        font-size: 35px;
    }
    .profile-flex{
        flex-direction: column;
    }
    .john-doe-flex-container{
        margin-top: 50px;
        padding-bottom: 30px;
    }
    /*..........profile*/

    /*..........contact*/
    .contact{
        flex-direction: column;
    }
    .upper-contact{
        flex-direction: column;
    }
    .contact-phone{
        border-radius: 5px 5px 0px 0px;
    }
    .contact-email{
        border-radius: 0px 0px 0px 0px;
    }
    /*..........contact*/
    
    /*..........footer*/
    .footer-top{  
        padding: 40px 0px;
    }
    .footer-top-flex{
        flex-direction: column;
    }
    .footer-top-logo{
        text-align: center;
        padding-bottom: 30px;
    }
    .footer-top-time{
        margin: auto;
        padding-bottom: 30px; 
    }
    .footer-top-time-img{
        margin-right: 10px;
    }
    .footer-top-social{
        text-align: center;
    }
    .footer-bottom{
        flex-direction: column;
    }
    .footer-bottom-left{
        text-align: center;
        padding-bottom: 10px;
    }
    .footer-bottom-right{
        text-align: center;
    }
}
@media (max-width : 992px) {
    .box{
        flex: 45%;
    }
}
@media (min-width : 992px) {
    .footer-top-time-img{
        flex: 10%;
    }
    .footer-top-time-text{
        flex: 90%;	
    }
}
@media (max-width : 600px) {
    .box{
        flex: 100%;
    }
    .profile-left h2{
        font-size: 30px;
    }
    .footer-top-time-img{
        margin-right: 5px;
    }
}
@media (max-width : 800px) {
    .footer-top-social img{
        margin-right: 8px;
    }
}
