*{
	font-family: 'Lato', sans-serif;
}
.mid{
	width: 80%;
	margin: auto;
}
body{
	box-sizing: border-box;
}
/*..........header*/
header{
    background-color:#031410;
}
.header-top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 0px;
}
.phone span{
    color: white;
    margin-left: 10px;
}
.menu img{
	width: 150%;
}
.logo img{
    width: 150%;
}
.inner-phone{
    background-color: #1D2C28;
    padding: .5rem .5rem;
    font-weight: 500;
    border-radius: 3px;
}
.header-middle{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.header-middle-left {
	flex: 50%;
}
.header-middle-right {
	flex: 50%;
}
.header-middle-left h1{
    font-size: 40px;
    color: white;
}
.header-middle-right p{
	color: white;
	line-height: 30px;
	font-weight: 600;
	margin-top: 30px;
}
.header-bottom {
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 20px 0px;
}
.free-quote-left a {
	padding: 1rem 1.2rem;
	background-color: #F6921E;
	color: #FFF;
    font-weight: 700;
	width: 100%;
	text-align: center;
	display: block;
}
.link-phone{ 
	color: #FFF;
	padding: 15px 18px;
	margin: -.62rem 0rem 0rem 2rem;
}
.link-phone span{
    color: white;
    margin-left: 10px;
}
.link-phone h3{
	font-size: 16px;
}
/*..........header*/

/*..........slider*/
.slider-photo {
	background-image: url('images/download.png');
    overflow: hidden;
	width: 100%;
	height: 400px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
/*..........slider*/

/*..........service*/
.service{
	background-color:#031410;
	padding: 40px 0px;
}
.service h2{
	color: white;
	padding: 60px 0px;
	font-size: 32px;;
}
.service-top{
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
}
.service-top-left{
	flex: 50%;
	margin-right: 20px;
}
.service-top-right{
	flex: 50%;
}
.service-top img{
	width: 100px;
}
.service-top h4{
	color: white;
	font-size: 25px;
	padding: 15px 0px;
}
.service-top p{
	color: white;
	line-height: 30px;
	padding-bottom: 30px;
}
.service-top a{
	color: white;
	border: 1px solid #F6921E;	
	padding: 10px 30px;	
}
.service-top-right img{
	margin-top: -30px;
}
.service-bottom {
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
}
.service-bottom-left{
	flex: 50%;
	margin-right: 1.5rem;
}
.service-bottom-left img{
	width: 100%;
}
.service-bottom-right{
	flex: 50%;
}
.service-bottom-right h2{
	color: white;
	font-size: 32px;
	margin-top: -2.3rem;
}
.service-bottom-right p{
	color: white;
	line-height: 30px;
}
.service-double-bottom{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: .5rem;
}
/*..........service*/

/*..........product*/
.products h1{
	margin: 50px 0px;
	color: #031410;
}
.products-flex {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.box{
	flex: 33%;
	border: 1px solid #E7E7E7;
	border-radius: 5px;
	padding: 3rem 0rem;
}
.box p{
	padding: 10px 0px;
}
.box a{
	padding: 10px 0px;
	color: #F6921E;
}
.products-button{
	margin: 50px auto;
	text-align: center;
	font-weight: bold;
}
.products-button > a{
	color: #031410;
	border: 1px solid #F6921E;
	padding: 10px 20px;
}/*..........product*/

/*..........profile*/
.profile {
	background-color: #031410;
}
.profile-flex{
	display: flex;
	flex-direction: row;
}
.profile-left{
	flex: 50%;
}
.profile-left-img-container{
	display: flex;
	flex-wrap: wrap;
}
.profile-left-img-container img{
	flex: 45%;
	border-radius: 5px;
	margin-right: 1rem;
	margin-bottom: 1rem;
	width: 100px;
}
.profile-left h2{
	color: white;
	font-size: 40px;
	font-weight: 900px;
	padding: 20px 0px;
}
.profile-right{
	flex: 50%;
}
.profile-right > p{
	padding: 20px 0px;
	color: white;
	font-size: 35px;
	font-style: italic;	
}
.john-doe-flex-container{
	display: flex;
	flex-direction: row;
	margin-top: 100px;
}
.john-doe-img{
	flex: 10%;
}
.john-doe-name{
	flex: 40%;
}
.john-doe-name p{
	color: white;
	font-weight: 900;
}
.john-doe-name span{
	color: white;
	font-size: 16px;
	font-weight: normal;
}
.john-doe-box{
	flex: 40%;
}
.dot{
	width: 7px;
	height: 7px;
	background-color: #B4B9B8;
	float: right;
	margin-left: 7px;
}
.dot:nth-child(4) {
	width: 7px;
	height: 7px;
	background-color: white;
	float: right;
	margin-left: 7px;
}
/*..........profile*/

/*..........contact*/
.contact{
	color: #031410;
	display: flex;
	flex-direction: row;
	padding-bottom: 1rem;
}
.contact-left{
	flex: 50%;
	margin-right: 1rem;
}
.contact-right{
	flex: 50%;
	overflow: hidden;
	border-radius: 5px;
}
.upper-contact{
	display: flex;
	flex-direction: row;
}
.contact-phone{
	flex: 50%;
	padding: 30px;
	border: 1px solid #F6921E;
	border-radius: 5px 0px 0px 0px;
	background-color: #FDE9D2;
}
.contact-email{
	flex: 50%;
	padding: 30px;
	border: 1px solid #E7E7E7;
	border-radius: 0px 5px 0px 0px;
}
.contact h2{
	padding-top: 40px;
	padding-bottom: 20px;
	font-weight: 900;
	color: #031410;
	font-size: 30px;	
}
.form{
	border: 1px solid #E7E7E7;
	padding: 20px;
	border-radius: 0px 0px 4px 4px;
}
.form p{
	color: #031410;
	font-weight: 900;
}
.form label{
	display:block;
	padding: 10px;
	color: #7F8885;
}
.form input{
	background: #F5F5F5;
	border: none;
	border-radius: 4px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.form input[type="submit"]{
	background-color: #F6921E;
	border: 1px solid #F6921E;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}
.form textarea{
	background: #F5F5F5;
	border: none;
	border-radius: 4px;
	width: 100%;
	height: 150px;
	padding: 10px;
	box-sizing: border-box;
}
.map-cover p{
	color: #031410;
	font-weight: 900;
	padding: 30px;
}
.map-cover{
	border: 1px solid #E7E7E7;
	border-radius: 5px;
	height: 100%;
}
/*..........contact*/

/*..........footer*/
.footer-top{
	background-color: #031410;
	padding: 60px 0px;
}
.footer-top-flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.footer-top-logo{
	flex: 40%;
}
.footer-top-time{
	display: flex;
	flex-direction: row;
	flex: 40%;
}
.footer-top-time-img{
	flex: 15%;
}
.footer-top-time-text{
	color: white;
	flex: 85%;	
}
.footer-top-social{
	flex: 20%;
	text-align: right;
}
.footer-top-social img{
	margin-right: 13px;
}
.footer-bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 30px 0px;
}
.footer-bottom-left{
	flex: 50%;
}
.footer-bottom-right{
	flex: 50%;
	text-align: right;
}
.footer-bottom-right p{
	color: #7F8885;
}
  


